<h1>
  {{ store.name }}
  <span class="actions mat-action-list">
    <button mat-mini-fab color="accent" class="action" routerLink="edit"><mat-icon>edit</mat-icon></button>
  </span>
</h1>

<mat-chip-list>
  <mat-chip [selected]="category === store?.category" *ngFor="let category of categories">{{ category }}</mat-chip>
</mat-chip-list>
<br />

<nc-map [center]="mapCenter" [spots]="spots"></nc-map>
<br />

<button mat-raised-button color="primary" (click)="back()">Accueil</button> &nbsp;
<button mat-raised-button color="warn" *ncHasRole="Roles.USER">Supprimer</button>
