mat-form-field {
  &.mat-form-field {
    line-height: 0.7em;
    height: 1.5em;
    font-size: 12px;
    padding-left: 50px;
  }
}

:host ::ng-deep {
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      padding: 0 .75em 0.3em .75em;
      border-radius: 5px;
      background: white;
      color: #3f51b5;
    }
  }

  .mat-form-field-infix {
    width: 180px;
  }

  .mat-form-field-underline {
    display: none;
  }
}
