:host {
  padding: 2px 8px 2px 0;
  border-radius: 8px;

  span {
    color: white;
  }

  .badge-icon {
    left: 0;
    position: absolute;
    display: block;
    float: left;
    margin-top: -10px;
    margin-left: -5px;
  }

  ::ng-deep .mat-icon {
    font-size: 18px;
  }
}

