<h1 class="mat-display-1">{{ 'home.title' | translate: { appName: appName } }}</h1>
<button mat-raised-button color="primary" routerLink="/login">{{ 'buttons.login' | translate }}</button> &nbsp;
<button mat-raised-button color="primary" routerLink="/register">{{ 'buttons.register' | translate }}</button>
