<div [formGroup]="group">

  <h4>{{ 'store.form.coordinate' | translate }}</h4>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>{{ 'store.form.latitude' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.latitude' | translate }}" formControlName="latitude">
      <mat-error *ngIf="group.get('latitude').invalid">{{ getErrorMessage(group.get('latitude')) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>{{ 'store.form.longitude' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.longitude' | translate }}" formControlName="longitude">
      <mat-error *ngIf="group.get('longitude').invalid">{{ getErrorMessage(group.get('longitude')) }}</mat-error>
    </mat-form-field>
  </div>

  <br />
  <nc-address-form [group]="addressForm"></nc-address-form>
</div>
