<h4>{{ 'store.form.address.title' | translate }}</h4>
<div [formGroup]="group">
  <div>
    <mat-form-field class="store-long-field" appearance="standard">
      <mat-label>{{ 'store.form.address.street' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.address.street' | translate }}" formControlName="street">
      <mat-error *ngIf="group.get('street').invalid">{{ getErrorMessage(group.get('street')) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>{{ 'store.form.address.code' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.address.code' | translate }}" formControlName="code">
      <mat-error *ngIf="group.get('code').invalid">{{ getErrorMessage(group.get('code')) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>{{ 'store.form.address.city' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.address.city' | translate }}" formControlName="city">
      <mat-error *ngIf="group.get('city').invalid">{{ getErrorMessage(group.get('city')) }}</mat-error>
    </mat-form-field>
  </div>
</div>
