<div [formGroup]="group">
  <div>
    <mat-form-field class="store-long-field" appearance="standard">
      <mat-label>{{ 'store.form.name' | translate }}</mat-label>
      <input matInput placeholder="{{ 'store.form.name' | translate }}" formControlName="name">
      <mat-error *ngIf="group.get('name').invalid">{{ getErrorMessage(group.get('name')) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="store-long-field" appearance="standard">
      <mat-label>{{ 'store.form.description' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'store.form.description' | translate }}" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <h4 class="store-title">{{ 'store.form.category' | translate }}</h4>
  <mat-radio-group formControlName="category">
    <mat-radio-button *ngFor="let category of categories" [value]="category" color="primary">
      <span class="store-radio">{{ category }}</span>
    </mat-radio-button>
  </mat-radio-group>

  <h4 class="store-title">{{ 'store.form.labels' | translate }}</h4>
  <div formArrayName="labels">
    <span class="store-checkbox" *ngFor="let control of labels.controls; index as i">
      <ng-container [formGroupName]="i">
        <mat-checkbox formControlName="selected" color="primary">
          {{ control.get('name').value }}
        </mat-checkbox>
      </ng-container>
    </span>
  </div>
</div>
